<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
</head>
<body>
<h1> Add to Cart Form</h1>
    <form action="#" th:action="@{/product/{id}/addtocart}" method="POST">
    Hello <span th:text="${name}" >Name</span>
    <input type="submit" value="Order" />
</body>
</html>