<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Lists</title>
</head>
<body>
 <div class="span12">
  <table id="myTableId" dt:table="true">
   <thead>
    <tr>
     <th>id</th>
     <th>name</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="categories : ${categorylist}">
     <td th:text="${categories.id}">id</td>
     <td><a th:href="@{/products/bycategory/__${categories.id}__}">
     <span th:text="${categories.name}" th:remove="tag"></a></span></td>
    </tr>
   </tbody>
  </table>
 </div>
</body>
</html>