<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
</head>
<body>
 <h1>Create Product Here</h1>
 <form th:action="@{/products/create}" method="post"
  th:object="${product}">
  <div th:align="left">
   Product Name: <input type="text" name="name"
    placeholder="Productname" /><br> Description :<input
    type="text" name="description" placeholder="description" /><br>
   Price: <input type="text" name="price" placeholder="Price" /><br>
   Category: <select name = "category">
   <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
  </select><br>
  <a th:href="@{/products/23/profile}"> Choose Profile</a><br>
   <input type="submit" value="create" />
  </div>
 </form>
</body>
</html>