<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Lists</title>
</head>
<body>
 <div class="span12">
  <table id="myTableId" dt:table="true">
   <thead>
    <tr>
     <th>id</th>
     <th>profile</th>
     <th>name</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="products : ${productsbycategorylist}" th:action="@{/products/bycategory/__${id}__}">
     <td th:text="${products.id}">id</td>
     <td><img th:src="@{/products/__${products.id}__/profileimg}"
      style="width: 30px; height: 30px;" /></td>
     <td th:text="${products.name}">name</td>
    </tr>
   </tbody>
  </table>
 </div>
</body>
</html>