<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Lists</title>
</head>
<body>
 <div class="span12">
  <table id="myTableId" dt:table="true">
   <tr>
     <th>id</th>
     <th>name</th>
     <th>description</th>
     <th>price</th>
     <th>Add to Cart</th>
    </tr>
   <tbody>
    <tr th:each="productdetails : ${productdetails}">
     <td th:text="${productdetails.id}">id</td>
     <td th:text="${productdetails.name}">name</td>
     <td th:text="${productdetails.description}">name</td>
     <td th:text="${productdetails.price}">Price</td>
     <td><a th:href="@{/product/__${id}__/addtocart}">Add to cart</a></td>
    </tr>
   </tbody>
  </table>
  
 </div>
</body>
</html>